* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;

  grid-template-areas:
    "nav create create filter"
    "nav tweets tweets trends";
  grid-template-rows: 11rem 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 4px;
  height: 100vh;
  background-color: black;

  color: white;
}

.nav-wrapper {
  grid-area: nav;
  background-color: black;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-links {
    background-color: #141f27;
    border-radius: 16px;
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  h4 {
    margin: 10px;
  }
}

.tweets-create-wrapper {
  grid-area: create;
  background-color: #1b384a;
  width: 100%;
  color: #c6e3fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  h3 {
    display: flex;
    width: 100%;
    margin: 15px;
    align-items: center;
    justify-content: center;
  }

  .form-tweet {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c6e3fa;
    flex-direction: column;

    &-btn {
        background: #00acee;
        width: 75px;
        height: 42px;
        border-radius: 46%;
        border: none;
        color: #141f27;
        font-size: 16px;
        margin: 3px;
        margin-left: 61%;
        cursor: pointer;
    }
    &-btn:hover {
      background: #1a8dc2;
      cursor: pointer;
    }

    .textarea-tweet {
      background-color: black;
      color: #c6e3fa;
      padding: 10px;
      width: 70%;
      height: 70px;
      border-radius: 11px;
      border: none;
      outline: none;
    }
  }
}

.tweets-list-wrapper {
  grid-area: tweets;
  background-color: #1b384a;
  border-radius: 15px;

  width: 100%;
}
.filter-tweets-wrapper {
  grid-area: filter;
  background-color: #141f27;
  flex-direction: column;

  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  h4 {
    margin: 3px;
    margin-right: 66%;
    color: #c6e3fa;
  }

  .textarea-filter {
    background-color: #1a8dc2;
    color: #141f27;
    padding: 10px;
    width: 80%;
    height: 36px;
    border-radius: 36px;
    border: none;
    outline: none;
  }
}

.trends-wrapper {
  grid-area: trends;
  background-color: #205370;
  border-radius: 15px;

  width: 20vw;
}

.tweet-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #205370;
  border-radius: 15px;
  margin: 7px;
  padding: 17px;

  img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 5px;
  }
  .img-btns:hover {
    cursor: pointer;
    transform: scale(0.9);
  }

  .tweet-user {
    display: flex;

    &-ava{
        width: 110px;
        height: auto;
        border-radius: 50%;

        img:hover {
            cursor: pointer;
            transform: scale(1.0);
          }
    }

    h2{
        margin: 10px;
        font-size: 1.55em;
        color: #ffffff;
    }
    h3{
        margin: 5px;
        margin-left: 10px;
        color: #e3f1fc;
    }
  }

  .tweet-btns {
    display: flex;
    justify-content: flex-end;
  }

}
